.container-fluid{
   font-family:Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  
}

body{
    background-color: #ffffff;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    text-align:justify;


}
img{
    display: block;
    margin: 0 auto;

}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: #000000
}
 footer {
    background-color: #3a4f88;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    
  }
 